<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
      </h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Dashboard </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Préstamos </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Solicitudes </a>
        
        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
      </div>
    </div>
    <div class="kt-subheader__toolbar" id="botones-barra">
      <kt-custom-subheader></kt-custom-subheader>
    </div>
  </div>
</div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-user"></i>
            </span>
            <h2 class="kt-portlet__head-title kt-font-brand">
              Solicitud de Préstamos - Detalle
            </h2>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
              <i class="flaticon2-search-1"></i>
              <select class="form-control kt-selectpicker" data-size="5" data-width="250px" data-live-search="true" >
                <option >Seleccione una solicitud...</option>
                <option selected value="lp" >10001 - Claudia López</option>
                <option value="cbba">10023 - Jorge Rodriguez</option>
                <option value="cbba">10065 - Marcelo Ramirez</option>
                
                
              </select>
              
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-xl-3 col-md-4">

              <!--begin:: Widgets/Applications/User/Profile1-->
              <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                <div class="kt-portlet__head  kt-portlet__head--noborder">
                  <div class="kt-widget__content">
                    <div class="kt-widget__section">
                      <h5 class="kt-widget__username">
                        Claudia López<br>
                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Ingresada</span>
                      </h5>
                      
                      <span class="kt-widget__title">
                        Saffiro Informatica Srl
                      </span>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y">

                  <!--begin::Widget -->
                  <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                      <div class="kt-widget__media">
                        
                      </div>
                      
                    </div>
                    <div class="kt-widget__body">
                      <div class="kt-widget__content">
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Estado empleado:</span>
                          <span class="kt-widget__data">Activo</span>
                        </div>
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Fecha de ingreso:</span>
                          <span class="kt-widget__data">2-Ene-2018</span>
                        </div>
                        
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Salario promedio:</span>
                          <span class="kt-widget__data">9000</span>
                        </div>
                        
                      </div>
                      <div class="kt-widget__items funcionario">
                        <a routerLink="/admin/beneficios/prestamo-func" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-table"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Datos de la solicitud
                            </span>
                          </span>
                        </a>
                        
                        <a routerLink="/admin/beneficios/prestamo-soli" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-money-bill	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Solicitud de préstamo
                            </span>
                          </span>
                        </a>

                        <a routerLink="/admin/beneficios/prestamo-contra" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-file-signature	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Contrato firmado
                            </span>
                          </span>
                        </a>

                        <a routerLink="/admin/beneficios/prestamo-auto" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-check	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Autorización de préstamo
                            </span>
                          </span>
                        </a>
                        <a routerLink="/admin/beneficios/prestamo-cuent" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-file-invoice-dollar	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Cuenta de pago
                            </span>
                          </span>
                        </a>
                        <a href="javascript:;" class="kt-widget__item kt-widget__item--active">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-desktop	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Datos transferencia
                            </span>
                          </span>
                        </a>
                        <a routerLink="/admin/beneficios/prestamo-pagocheque" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-money-check	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Datos cheque
                            </span>
                          </span>
                        </a>
                        
                        
                        
                      </div>
                    </div>
                  </div>

                  <!--end::Widget -->
                </div>
              </div>

              <!--end:: Widgets/Applications/User/Profile1-->
            </div>

            <!--End:: App Aside-->

            
            <div class="col-xl-9 col-md-8">
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Datos para la transferencia</h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                      <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="flaticon2-paper"></i>Reportes
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__section kt-nav__section--first">
                              <span class="kt-nav__section-text">Opciones</span>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-print"></i>
                                <span class="kt-nav__link-text">Print</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-copy"></i>
                                <span class="kt-nav__link-text">Copy</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                <span class="kt-nav__link-text">Excel</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                <span class="kt-nav__link-text">CSV</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                <span class="kt-nav__link-text">PDF</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form class="kt-form kt-form--label-right">
                  <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">N. de cuenta financiera</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="cta_finan" type="text" value="15001515">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">N. lote de transferencia</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="lote_transf" type="text" value="424420">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Entidad financiera</label>
                          <div class="col-lg-9 col-xl-6">
                            <select  class="form-control" id="banco">
                              <option>Banco Bisa</option>
                              <option>Banco BCP</option>
                              
                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombre beneficiario</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="nom_benef" type="text" value="Genji Himuri">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">CI beneficiario</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="ci_benef" type="text" value="7190345LP">
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Concepto</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="concepto_pago" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Código transferencia</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="cod_transf" type="text" value="6575839">
                          </div>
                        </div>
                        
                        

                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                      
                      <div class="row">
                        <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Encargado Tesorería</label>
                        <div class="col-lg-9 col-xl-9">
                          <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                          
                        </div>
                      </div>
                      
                      
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!--End:: App Content-->
          </div>

          <!--End::App-->
        </div>
      </div>
    </div>
  </div>

</div>