<div class="kt-subheader__wrapper">
											
  <div  class="dropdown dropdown-inline" >
    <a class="btn btn-outline-secondary btn-bold btn-sm dropdown-toggle" data-toggle="dropdown">
      Exportar
      &nbsp;<i class="la la-angle-down"></i>
    </a>
    <div  class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

      <!--begin::Nav-->
      <ul class="kt-nav">

        <li class="kt-nav__item">
          <a  class="kt-nav__link">
            <i class="kt-nav__link-icon flaticon2-drop"></i>
            <span class="kt-nav__link-text">Opción 1</span>
          </a>
        </li>
        <li class="kt-nav__item">
          <a  class="kt-nav__link">
            <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
            <span class="kt-nav__link-text">Opción 2</span>
          </a>
        </li>
        <li class="kt-nav__separator"></li>
        <li class="kt-nav__item">
          <a  class="kt-nav__link">
            <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
            <span class="kt-nav__link-text">Opción 3</span>
          </a>
        </li>
        <li class="kt-nav__item">
          <a  class="kt-nav__link">
            <i class="kt-nav__link-icon flaticon2-new-email"></i>
            <span class="kt-nav__link-text">Opción 4</span>
            
          </a>
        </li>
        
        
      </ul>

      <!--end::Nav-->
    </div>
  </div>

  <div class="dropdown dropdown-inline" >
    <a  class="btn btn-outline-secondary btn-bold btn-sm dropdown-toggle" data-toggle="dropdown">
      Importar
      &nbsp;<i class="la la-angle-down"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">

      <!--begin::Nav-->
      <ul class="kt-nav">

        <li class="kt-nav__item">
          <a  class="kt-nav__link">
            <i class="kt-nav__link-icon flaticon2-drop"></i>
            <span class="kt-nav__link-text">Opción 1</span>
          </a>
        </li>
        <li class="kt-nav__item">
          <a  class="kt-nav__link">
            <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
            <span class="kt-nav__link-text">Opción 2</span>
          </a>
        </li>
        <li class="kt-nav__separator"></li>
        <li class="kt-nav__item">
          <a  class="kt-nav__link">
            <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
            <span class="kt-nav__link-text">Opción 3</span>
          </a>
        </li>
        <li class="kt-nav__item">
          <a  class="kt-nav__link">
            <i class="kt-nav__link-icon flaticon2-new-email"></i>
            <span class="kt-nav__link-text">Opción 4</span>
            
          </a>
        </li>
        
        
      </ul>

      <!--end::Nav-->
    </div>
  </div>

  <select class=" kt-selectpicker" data-size="5" data-width="250px" data-live-search="true" data-style="btn-brand">
    <option selected value="lp" >CONCORDIA - FUNERARIA</option>
    <option value="cbba">KANTUTANI - LOTE</option>
    <option value="cbba">CONCORDIA - LOTE</option>
    <option value="cbba">MISIONES - FUNERARIA</option>
    <option value="cbba">MISIONES - LOTE</option>
    <option value="cbba">SANTA MARIA - FUNERARIA</option>
    
  </select>

  
</div>