<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
      </h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Dashboard </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Reclutamiento </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Nuevo proceso </a>
        
        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
      </div>
    </div>
    <div class="kt-subheader__toolbar" id="botones-barra">
      <kt-custom-subheader></kt-custom-subheader>
    </div>
  </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-user"></i>
            </span>
            <h2 class="kt-portlet__head-title kt-font-brand">
              Nuevo Proceso
            </h2>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
              
              
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-xl-3 col-md-4">

              <!--begin:: Widgets/Applications/User/Profile1-->
              <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                <div class="kt-portlet__head  kt-portlet__head--noborder">
                  <div class="kt-widget__content">
                    <div class="kt-widget__section">
                      <h5 class="kt-widget__username">
                        -----------<br>
                        <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">------</span>
                      </h5>
                      
                      <span class="kt-widget__title">
                        Saffiro Informatica Srl
                      </span>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y">

                  <!--begin::Widget -->
                  <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                      <div class="kt-widget__media">
                        
                      </div>
                      
                    </div>
                    <div class="kt-widget__body">
                      <div class="kt-widget__content">
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Tipo:</span>
                          <span class="kt-widget__data">-------</span>
                        </div>
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Salario:</span>
                          <span class="kt-widget__data">-------</span>
                        </div>
                        
                      </div>
                      <div class="kt-widget__items funcionario">
                        <a href="javascript:;" class="kt-widget__item kt-widget__item--active">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-chart-bar"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Solicitud de contratación
                            </span>
                          </span>
                        </a>
                        <a routerLink="/admin/reclutamiento/proceso-nuevo-config" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-cog	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Datos del proceso
                            </span>
                          </span>
                        </a>
                        
                        <div class="kt-separator kt-separator--border-solid kt-separator--space-md kt-separator--portlet-fit"></div>
                        
                        
                        
                      </div>
                    </div>
                  </div>

                  <!--end::Widget -->
                </div>
              </div>

              <!--end:: Widgets/Applications/User/Profile1-->
            </div>

            <!--End:: App Aside-->

            
            <div class="col-xl-9 col-md-8">
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Solicitud de contratación</h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                      <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="flaticon2-paper"></i>Reportes
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__section kt-nav__section--first">
                              <span class="kt-nav__section-text">Opciones</span>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-print"></i>
                                <span class="kt-nav__link-text">Print</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-copy"></i>
                                <span class="kt-nav__link-text">Copy</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                <span class="kt-nav__link-text">Excel</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                <span class="kt-nav__link-text">CSV</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                <span class="kt-nav__link-text">PDF</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form class="kt-form kt-form--label-right">
                  <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Fecha</label>
                          <div class="col-lg-9 col-xl-6">
                            <input disabled class="form-control" id="fecha_ingreso" type="text" value="4-Sep-2020">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombre del cargo</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="nombre_cargo" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nuevo cargo</label>
                          <div class="col-lg-9 col-xl-6 kt-radio-inline custom-inline">
                            <label class="kt-radio">
                              <input type="radio" name="radio2" > Si
                              <span></span>
                            </label>
                            <label class="kt-radio">
                              <input type="radio" name="radio2" checked="checked"> No
                              <span></span>
                            </label>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombre nuevo cargo</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="nombre_nuevo_cargo" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Tipo de postulante</label>
                          <div class="col-lg-9 col-xl-6">
                            <select  class="form-control" id="nivel_estudios">
                              <option>Pasante</option>
                              <option>Eventual</option>
                              <option>Planta</option>
                              <option>Consultor</option>
                              
                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Objetivo del cargo</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="objetivo_cargo" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Salario mensual</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="salario_mensual" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Cuenta de gasto</label>
                          <div class="col-lg-9 col-xl-6">
                            <select class="form-control" id="nivel_estudios">
                              <option>51023840 - Sueldos y salarios</option>
                              <option>51023850 - Consultorías</option>
                              <option>51023870 - Comercialización</option>
            
                            </select>
                            
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Presupuesto</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="presupuesto" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Justificación</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="justificacion" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Tipo de búsqueda</label>
                          <div class="col-lg-9 col-xl-6">
                            <select class="form-control" id="nivel_estudios">
                              <option>Periódico</option>
                              <option>Trabajópolis</option>
                              <option>Convocatoria Interna</option>
                              <option>Correo electrónico</option>
                              <option>Páginas azules</option>
                              <option>Software interno</option>
                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Funciones generales</label>
                          <div class="col-lg-9 col-xl-6">
                            <input class="form-control" id="funciones_generales" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Funciones específicas</label>
                          <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control" id="funciones_especificas" rows="4"></textarea>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Competencias</label>
                          <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control" id="competencias" rows="4"></textarea>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Experiencia laboral mínima</label>
                          <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control" id="experiencia_laboral" rows="4"></textarea>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nivel de estudios mínimo</label>
                          <div class="col-lg-9 col-xl-6">
                            <select class="form-control" id="nivel_estudios">
                              <option>Bachiller</option>
                              <option>Egresado</option>
                              <option>Técnico</option>
                              <option>Licenciatura</option>
                              <option>Diplomado</option>
                              <option>Especialidad</option>
                              <option>Maestría</option>
                              <option>Doctorado</option>
                            </select>
                            
                          </div>
                        </div>


                        
                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                      
                      <div class="row">
                        <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Jefe de Area</label>
                        <div class="col-lg-9 col-xl-9">
                          <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                          
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!--End:: App Content-->
          </div>

          <!--End::App-->
        </div>
      </div>
    </div>
  </div>

</div>