

<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">

	<!--begin::Head-->
	<div class="kt-login__head">
		<span class="kt-login__signup-label"></span>&nbsp;&nbsp;
		<a href="#" class="kt-link kt-login__signup-link"></a>
	</div>

	<!--end::Head-->

	<!--begin::Body-->
	<div class="kt-login__body">

		<!--begin::Signin-->
		<div class="kt-login__form">
			<div class="kt-login__title">
				<h3>Ingreso Administradores</h3>
			</div>

			<!--begin::Form-->
			<form class="kt-form" action="" novalidate="novalidate" id="kt_login_form">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Usuario" name="username" autocomplete="off">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" placeholder="Clave" name="password" autocomplete="off">
				</div>

				<!--begin::Action-->
				<div class="kt-login__actions">
					<a href="#" class="kt-link kt-login__link-forgot">
						Olvidó su clave ?
					</a>
					
					<a (click)="submit()" class="btn btn-primary btn-elevate btn-lg">Ingresar</a>
				</div>

				<!--end::Action-->
			</form>

			<!--end::Form-->

			<!--begin::Divider-->
			<!--
			<div class="kt-login__divider">
				<div class="kt-divider">
					<span></span>
					<span>OR</span>
					<span></span>
				</div>
			</div>
			-->

			<!--end::Divider-->

			<!--begin::Options-->
			<!--
			<div class="kt-login__options">
				<a href="#" class="btn btn-primary kt-btn">
					<i class="fab fa-facebook-f"></i>
					Facebook
				</a>
				<a href="#" class="btn btn-info kt-btn">
					<i class="fab fa-twitter"></i>
					Twitter
				</a>
				<a href="#" class="btn btn-danger kt-btn">
					<i class="fab fa-google"></i>
					Google
				</a>
			</div>
			-->

			<!--end::Options-->
		</div>

		<!--end::Signin-->
	</div>

	<!--end::Body-->
</div>
