<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
      </h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Dashboard </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Capacitaciones </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Solicitudes </a>
        
        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
      </div>
    </div>
    <div class="kt-subheader__toolbar" id="botones-barra">
      <kt-custom-subheader></kt-custom-subheader>
    </div>
  </div>
</div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-user"></i>
            </span>
            <h2 class="kt-portlet__head-title kt-font-brand">
              Solicitud de Capacitaciones - Detalle
            </h2>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
              <i class="flaticon2-search-1"></i>
              <select class="form-control kt-selectpicker" data-size="5" data-width="250px" data-live-search="true" >
                <option >Seleccione una capacitación...</option>
                <option selected value="lp" >1894050 - Administración</option>
                <option value="cbba">1894378 - Sistemas</option>
                <option value="cbba">1893456 - Administración</option>
                
                
              </select>
              
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-xl-3 col-md-4">

              <!--begin:: Widgets/Applications/User/Profile1-->
              <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                <div class="kt-portlet__head  kt-portlet__head--noborder">
                  <div class="kt-widget__content">
                    <div class="kt-widget__section">
                      <h5 class="kt-widget__username">
                        Administración<br>
                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Ingresada</span>
                      </h5>
                      
                      <span class="kt-widget__title">
                        Saffiro Informatica Srl
                      </span>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y">

                  <!--begin::Widget -->
                  <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                      <div class="kt-widget__media">
                        
                      </div>
                      
                    </div>
                    <div class="kt-widget__body">
                      <div class="kt-widget__content">
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Solicitante:</span>
                          <span class="kt-widget__data">Paola Ramírez</span>
                        </div>
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Cargo:</span>
                          <span class="kt-widget__data">Jefe de Administración</span>
                        </div>
                        
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Fecha solicitud:</span>
                          <span class="kt-widget__data">8-Sep-2020</span>
                        </div>
                        
                      </div>
                      <div class="kt-widget__items funcionario">
                        <a routerLink="/admin/beneficios/capacita-func" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-table"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Datos de la solicitud
                            </span>
                          </span>
                        </a>
                        <a href="javascript:;" class="kt-widget__item kt-widget__item--active">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-users	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Integrantes
                            </span>
                          </span>
                        </a>
                        
                      </div>
                    </div>
                  </div>

                  <!--end::Widget -->
                </div>
              </div>

              <!--end:: Widgets/Applications/User/Profile1-->
            </div>

            <!--End:: App Aside-->

            
            <div class="col-xl-9 col-md-8">
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Integrantes de la capacitación</h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                      <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="flaticon2-paper"></i>Reportes
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__section kt-nav__section--first">
                              <span class="kt-nav__section-text">Opciones</span>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-print"></i>
                                <span class="kt-nav__link-text">Print</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-copy"></i>
                                <span class="kt-nav__link-text">Copy</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                <span class="kt-nav__link-text">Excel</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                <span class="kt-nav__link-text">CSV</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                <span class="kt-nav__link-text">PDF</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form class="kt-form kt-form--label-right">
                  <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        <i class="flaticon2-search-1"></i>
                        <select class="form-control kt-selectpicker" data-size="5" data-width="350px" data-live-search="true" >
                          <option >Seleccione un funcionario...</option>
                          <option selected value="lp" >100234 - Rodolfo Andres Claros Mascarpone</option>
                          <option value="cbba">100265 - Carla Andrea Ramirez Perez</option>
                          <option value="cbba">100217 - Roberto Enrique Fernandez Reyes</option>
                        </select>
                        <button  type="reset" id="btn-aprobar-proceso" class="btn btn-brand">Agregar</button>
                        <div id="tabla-capacitaciones-integrantes"></div>

                        <div class="kt-separator kt-separator--border-solid kt-separator--space-lg kt-separator--portlet-fit"></div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Código funcionario</label>
                          <div class="col-lg-9 col-xl-6">
                            <input disabled class="form-control" id="codigo_emp" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombres</label>
                          <div class="col-lg-9 col-xl-6">
                            <input disabled class="form-control" id="nombres_emp" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Apellidos</label>
                          <div class="col-lg-9 col-xl-6">
                            <input disabled class="form-control" id="apellidos_emp" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                          <div class="col-lg-9 col-xl-6">
                            <input disabled class="form-control" id="cargo_emp" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Monto descuento</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="monto_desc" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Plazo (meses)</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="plazo_desc" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Cuota mensual</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="cuota_mensual" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Fecha contable</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="fecha_contable" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Novedad</label>
                          <div class="col-lg-9 col-xl-6">
                            <select  class="form-control" id="novedad">
                              <option>Anticipo especial</option>
                              <option>Quincena</option>
                              <option>Préstamo personal</option>
                              <option>Productos Gek</option>
                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Tipo préstamo</label>
                          <div class="col-lg-9 col-xl-6">
                            <select  class="form-control" id="tipo_prestamo">
                              <option>Vivienda</option>
                              <option>Lentes y monturas</option>
                              <option>Anticrético</option>
                              <option>Educación</option>
                              <option>Consultorio</option>
                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Periodo desde</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="periodo_desde" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Finalizó capacitación</label>
                          <div class="kt-checkbox-inline">
                            <label class="kt-checkbox">
                              <input type="checkbox">Finalizó
                              <span></span>
                            </label>
                          </div>
                        </div>

                        

                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                      
                      <div class="row">
                        <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Encargado Personal</label>
                        <div class="col-lg-9 col-xl-9">
                          <button  type="reset" id="btn-aprobar-proceso" class="btn btn-success">Aprobar</button>&nbsp;
                          
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Asistente RRHH</label>
                        <div class="col-lg-9 col-xl-9">
                          <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                          
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!--End:: App Content-->
          </div>

          <!--End::App-->
        </div>
      </div>
    </div>
  </div>

</div>