<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
      </h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Dashboard </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Desempeño </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Evaluación </a>
        
        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
      </div>
    </div>
    <div class="kt-subheader__toolbar" id="botones-barra">
      <kt-custom-subheader></kt-custom-subheader>
    </div>
  </div>
</div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-user"></i>
            </span>
            <h2 class="kt-portlet__head-title kt-font-brand">
              Evaluación de Desempeño - Detalle
            </h2>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
              <i class="flaticon2-search-1"></i>
              <select class="form-control kt-selectpicker" data-size="5" data-width="250px" data-live-search="true" >
                <option >Seleccione una evaluación...</option>
                <option selected value="lp" >150319 - Evaluación Desem Sep2020</option>
                <option value="cbba">150203 - Evaluación Desem Ago2020</option>
                <option value="cbba">150145 - Evaluación Desem Jun2020</option>
                
                
              </select>
              
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-xl-3 col-md-4">

              <!--begin:: Widgets/Applications/User/Profile1-->
              <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                <div class="kt-portlet__head  kt-portlet__head--noborder">
                  <div class="kt-widget__content">
                    <div class="kt-widget__section">
                      <h5 class="kt-widget__username">
                        Evaluación de Desempeño Sep2020<br>
                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">En Ejecución</span>
                      </h5>
                      
                      <span class="kt-widget__title">
                        Saffiro Informatica Srl
                      </span>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y">

                  <!--begin::Widget -->
                  <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                      <div class="kt-widget__media">
                        
                      </div>
                      
                    </div>
                    <div class="kt-widget__body">
                      <div class="kt-widget__content">
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Fecha inicio:</span>
                          <span class="kt-widget__data">21-Sep-2020 15:30</span>
                        </div>
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Fecha fin:</span>
                          <span class="kt-widget__data">21-Sep-2020</span>
                        </div>
                        
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Responsable:</span>
                          <span class="kt-widget__data">Juan Pérez</span>
                        </div>
                        
                      </div>
                      <div class="kt-widget__items funcionario">
                        <a routerLink="/admin/evaluacion/desem-eval" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-table"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Datos de la evaluación
                            </span>
                          </span>
                        </a>
                        <a routerLink="/admin/evaluacion/desem-integra" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-users	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Integrantes
                            </span>
                          </span>
                        </a>
                        <a routerLink="/admin/evaluacion/desem-resul" class="kt-widget__item ">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-chart-bar	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Resultados
                            </span>
                          </span>
                        </a>
                        
                        <a href="javascript:;" class="kt-widget__item kt-widget__item--active">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-lightbulb	"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Iniciativas
                            </span>
                          </span>
                        </a>
                        
                        
                        
                      </div>
                    </div>
                  </div>

                  <!--end::Widget -->
                </div>
              </div>

              <!--end:: Widgets/Applications/User/Profile1-->
            </div>

            <!--End:: App Aside-->

            
            <div class="col-xl-9 col-md-8">
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Iniciativas de mejora</h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                      <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="flaticon2-paper"></i>Reportes
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__section kt-nav__section--first">
                              <span class="kt-nav__section-text">Opciones</span>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-print"></i>
                                <span class="kt-nav__link-text">Print</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-copy"></i>
                                <span class="kt-nav__link-text">Copy</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                <span class="kt-nav__link-text">Excel</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                <span class="kt-nav__link-text">CSV</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                <span class="kt-nav__link-text">PDF</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form class="kt-form kt-form--label-right">
                  <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        
                        
                        <div class="row">
                          <div class="col-lg-12 col-xl-12">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tabs_innovacion" role="tab">Innovación</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_flexibilidad" role="tab">Flexibilidad</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#kt_tabs_juicio" role="tab">Juicio</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_inteligencia" role="tab">Inteligencia</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_personas" role="tab">Personas</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_calidez" role="tab">Calidez</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_negociacion" role="tab">Negociación</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="tab-content">
                          <div class="tab-pane active" id="kt_tabs_innovacion" role="tabpanel">
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Iniciativa de mejora</label>
                              <div class="col-lg-9 col-xl-6">
                                <textarea  class="form-control" id="iniciativa_innovacion" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Responsable</label>
                              <div class="col-lg-9 col-xl-6">
                                <input  class="form-control" id="responsable_iniciat" type="text" value="">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                              <div class="col-lg-9 col-xl-6">
                                <select class="form-control" id="cargo_responsable">
                                  <option>Analista Desarrollador</option>
                                  <option>Jefe de Desarrollo</option>
                                  <option>Analista Contable</option>
                                  <option>Asistente Administrativo</option>
                                  <option>Jefe Operativo</option>
                                </select>
                                
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Inicio</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_inicio_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Fin</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_fin_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane " id="kt_tabs_flexibilidad" role="tabpanel">
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Iniciativa de mejora</label>
                              <div class="col-lg-9 col-xl-6">
                                <textarea  class="form-control" id="iniciativa_innovacion" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Responsable</label>
                              <div class="col-lg-9 col-xl-6">
                                <input  class="form-control" id="responsable_iniciat" type="text" value="">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                              <div class="col-lg-9 col-xl-6">
                                <select class="form-control" id="cargo_responsable">
                                  <option>Analista Desarrollador</option>
                                  <option>Jefe de Desarrollo</option>
                                  <option>Analista Contable</option>
                                  <option>Asistente Administrativo</option>
                                  <option>Jefe Operativo</option>
                                </select>
                                
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Inicio</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_inicio_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Fin</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_fin_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane " id="kt_tabs_juicio" role="tabpanel">
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Iniciativa de mejora</label>
                              <div class="col-lg-9 col-xl-6">
                                <textarea  class="form-control" id="iniciativa_innovacion" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Responsable</label>
                              <div class="col-lg-9 col-xl-6">
                                <input  class="form-control" id="responsable_iniciat" type="text" value="">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                              <div class="col-lg-9 col-xl-6">
                                <select class="form-control" id="cargo_responsable">
                                  <option>Analista Desarrollador</option>
                                  <option>Jefe de Desarrollo</option>
                                  <option>Analista Contable</option>
                                  <option>Asistente Administrativo</option>
                                  <option>Jefe Operativo</option>
                                </select>
                                
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Inicio</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_inicio_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Fin</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_fin_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane " id="kt_tabs_inteligencia" role="tabpanel">
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Iniciativa de mejora</label>
                              <div class="col-lg-9 col-xl-6">
                                <textarea  class="form-control" id="iniciativa_innovacion" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Responsable</label>
                              <div class="col-lg-9 col-xl-6">
                                <input  class="form-control" id="responsable_iniciat" type="text" value="">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                              <div class="col-lg-9 col-xl-6">
                                <select class="form-control" id="cargo_responsable">
                                  <option>Analista Desarrollador</option>
                                  <option>Jefe de Desarrollo</option>
                                  <option>Analista Contable</option>
                                  <option>Asistente Administrativo</option>
                                  <option>Jefe Operativo</option>
                                </select>
                                
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Inicio</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_inicio_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Fin</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_fin_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane " id="kt_tabs_personas" role="tabpanel">
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Iniciativa de mejora</label>
                              <div class="col-lg-9 col-xl-6">
                                <textarea  class="form-control" id="iniciativa_innovacion" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Responsable</label>
                              <div class="col-lg-9 col-xl-6">
                                <input  class="form-control" id="responsable_iniciat" type="text" value="">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                              <div class="col-lg-9 col-xl-6">
                                <select class="form-control" id="cargo_responsable">
                                  <option>Analista Desarrollador</option>
                                  <option>Jefe de Desarrollo</option>
                                  <option>Analista Contable</option>
                                  <option>Asistente Administrativo</option>
                                  <option>Jefe Operativo</option>
                                </select>
                                
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Inicio</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_inicio_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Fin</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_fin_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane " id="kt_tabs_calidez" role="tabpanel">
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Iniciativa de mejora</label>
                              <div class="col-lg-9 col-xl-6">
                                <textarea  class="form-control" id="iniciativa_innovacion" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Responsable</label>
                              <div class="col-lg-9 col-xl-6">
                                <input  class="form-control" id="responsable_iniciat" type="text" value="">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                              <div class="col-lg-9 col-xl-6">
                                <select class="form-control" id="cargo_responsable">
                                  <option>Analista Desarrollador</option>
                                  <option>Jefe de Desarrollo</option>
                                  <option>Analista Contable</option>
                                  <option>Asistente Administrativo</option>
                                  <option>Jefe Operativo</option>
                                </select>
                                
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Inicio</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_inicio_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Fin</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_fin_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane " id="kt_tabs_negociacion" role="tabpanel">
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Iniciativa de mejora</label>
                              <div class="col-lg-9 col-xl-6">
                                <textarea  class="form-control" id="iniciativa_innovacion" rows="4"></textarea>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Responsable</label>
                              <div class="col-lg-9 col-xl-6">
                                <input  class="form-control" id="responsable_iniciat" type="text" value="">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                              <div class="col-lg-9 col-xl-6">
                                <select class="form-control" id="cargo_responsable">
                                  <option>Analista Desarrollador</option>
                                  <option>Jefe de Desarrollo</option>
                                  <option>Analista Contable</option>
                                  <option>Asistente Administrativo</option>
                                  <option>Jefe Operativo</option>
                                </select>
                                
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Inicio</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_inicio_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-xl-3 col-lg-3 col-form-label">Fecha Fin</label>
                              <div class="col-lg-9 col-xl-6">
                                <div class="input-group date">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="la la-calendar-check-o"></i>
                                    </span>
                                  </div>
                                  <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_fin_iniciat" value=""/>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    
                    <div class="row">
                      <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Jefe de RRHH</label>
                      <div class="col-lg-9 col-xl-9">
                        <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--End:: App Content-->
          </div>

          <!--End::App-->
        </div>
      </div>
    </div>
  </div>

</div>