<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
      </h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Dashboard </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Capacitaciones </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Solicitudes </a>
        
        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
      </div>
    </div>
    <div class="kt-subheader__toolbar" id="botones-barra">
      <kt-custom-subheader></kt-custom-subheader>
    </div>
  </div>
</div>

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-user"></i>
            </span>
            <h2 class="kt-portlet__head-title kt-font-brand">
              Solicitud de Capacitaciones - Detalle
            </h2>
          </div>
          <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
              
              
            </div>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-xl-3 col-md-4">

              <!--begin:: Widgets/Applications/User/Profile1-->
              <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                <div class="kt-portlet__head  kt-portlet__head--noborder">
                  <div class="kt-widget__content">
                    <div class="kt-widget__section">
                      <h5 class="kt-widget__username">
                        ---------<br>
                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Ingresada</span>
                      </h5>
                      
                      <span class="kt-widget__title">
                        Saffiro Informatica Srl
                      </span>
                    </div>
                    
                    
                  </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-y">

                  <!--begin::Widget -->
                  <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                      <div class="kt-widget__media">
                        
                      </div>
                      
                    </div>
                    <div class="kt-widget__body">
                      <div class="kt-widget__content">
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Solicitante:</span>
                          <span class="kt-widget__data">Paola Ramírez</span>
                        </div>
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Cargo:</span>
                          <span class="kt-widget__data">Jefe de Administración</span>
                        </div>
                        
                        <div class="kt-widget__info">
                          <span class="kt-widget__label">Fecha solicitud:</span>
                          <span class="kt-widget__data">8-Sep-2020</span>
                        </div>
                        
                      </div>
                      <div class="kt-widget__items funcionario">
                        <a href="javascript:;" class="kt-widget__item kt-widget__item--active">
                          <span class="kt-widget__section">
                            <span class="kt-widget__icon">
                              <i class="kt-menu__link-icon fa fa-table"></i>
                            </span>
                            <span class="kt-widget__desc">
                              Datos de la solicitud
                            </span>
                          </span>
                        </a>
                        
                        
                        
                      </div>
                    </div>
                  </div>

                  <!--end::Widget -->
                </div>
              </div>

              <!--end:: Widgets/Applications/User/Profile1-->
            </div>

            <!--End:: App Aside-->

            
            <div class="col-xl-9 col-md-8">
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Datos de la solicitud</h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                      <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="flaticon2-paper"></i>Reportes
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__section kt-nav__section--first">
                              <span class="kt-nav__section-text">Opciones</span>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-print"></i>
                                <span class="kt-nav__link-text">Print</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-copy"></i>
                                <span class="kt-nav__link-text">Copy</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                <span class="kt-nav__link-text">Excel</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                <span class="kt-nav__link-text">CSV</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                <span class="kt-nav__link-text">PDF</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form class="kt-form kt-form--label-right">
                  <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Documento</label>
                          <div class="col-lg-9 col-xl-6">
                            <input disabled class="form-control" id="codigo_emp" type="text" value="1894050">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Secuencia</label>
                          <div class="col-lg-9 col-xl-6">
                            <input disabled class="form-control" id="codigo_emp" type="text" value="50">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Fecha solicitud</label>
                          <div class="col-lg-9 col-xl-6">
                            <input disabled class="form-control" id="fecha_ingreso_benef" type="text" value="8-Sep-2020">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombre solicitante</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="codigo_emp" type="text" value="Paola Ramirez">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Cargo solicitante</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="nombre_emp" type="text" value="Jefe de Administración">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Area solicitante</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="ci_emp" type="text" value="Administración">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombre quien aprueba</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="ci_emp" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Cargo quien aprueba</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="fecha_ingreso_emp" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombre proveedor</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="ci_emp" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombre curso</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="salario-3" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Duración curso (meses)</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="salario-2" type="number" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Fecha límite</label>
                          <div class="col-lg-9 col-xl-6">
                            <div class="input-group date">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="la la-calendar-check-o"></i>
                                </span>
                              </div>
                              <input type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_limite" value=""/>
                            </div>
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Días de clases</label>
                          <div class="kt-checkbox-inline">
                            <label class="kt-checkbox">
                              <input type="checkbox">Lun
                              <span></span>
                            </label>
                            <label class="kt-checkbox">
                              <input type="checkbox">Mar
                              <span></span>
                            </label>
                            <label class="kt-checkbox">
                              <input type="checkbox">Mie
                              <span></span>
                            </label>
                            <label class="kt-checkbox">
                              <input type="checkbox">Jue
                              <span></span>
                            </label>
                            <label class="kt-checkbox">
                              <input type="checkbox">Vie
                              <span></span>
                            </label>
                            <label class="kt-checkbox">
                              <input type="checkbox">Sab
                              <span></span>
                            </label>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Hora inicial</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="hora_inicio" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Hora final</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="hora_final" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Objetivos personales</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="indemnizacion" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Objetivos empresariales</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="indemnizacion" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Duración implementación (meses)</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="indemnizacion" type="number" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Costo</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="indemnizacion" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Moneda</label>
                          <div class="col-lg-9 col-xl-6">
                            <select  class="form-control" id="nivel_estudios">
                              <option>Bolivianos</option>
                              <option>Dólares</option>

                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Monto patrocinado</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="indemnizacion" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Cuenta</label>
                          <div class="col-lg-9 col-xl-6">
                            <select  class="form-control" id="nivel_estudios">
                              <option>158500 - Capacitación</option>
                              <option>153387 - Recursos Humanos</option>

                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Número de personas</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="indemnizacion" type="number" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Comentarios</label>
                          <div class="col-lg-9 col-xl-6">
                            <textarea  class="form-control" id="interpretacion_resul_7" rows="4"></textarea>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                      
                      <div class="row">
                        <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Jefe de Area</label>
                        <div class="col-lg-9 col-xl-9">
                          <button  type="reset" id="btn-guardar" class="btn btn-success">Guardar</button>&nbsp;
                          
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!--End:: App Content-->
          </div>

          <!--End::App-->
        </div>
      </div>
    </div>
  </div>

</div>