<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
      </h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Dashboard </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Reclutamiento </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Inducción </a>
        
        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
      </div>
    </div>
    <div class="kt-subheader__toolbar" id="botones-barra">
      <kt-custom-subheader></kt-custom-subheader>
    </div>
  </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-table"></i>
            </span>
            <h2 class="kt-portlet__head-title kt-font-brand">
              Inducción
            </h2>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="row">
            

            
            <div class="col-xl-12 col-md-12">
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Nueva solicitud <small></small></h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                      <div class="kt-portlet__head-actions">
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
                <form class="kt-form kt-form--label-right">
                  <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        
                        
                        <div class="row">
                          <label class="col-xl-3"></label>
                          <div class="col-lg-9 col-xl-6">
                            <h3 class="kt-section__title ">Detalle cuestionario</h3>
                          </div>
                        </div>
                        
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Nombres</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="nombres_induc" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Apellido Paterno</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="ap_paterno_induc" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Apellido Materno</label>
                          <div class="col-lg-9 col-xl-6">
                            <input  class="form-control" id="ap_materno_induc" type="text" value="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Area</label>
                          <div class="col-lg-9 col-xl-6">
                            <select class="form-control" id="area_induc">
                              <option>Sistemas</option>
                              <option>Contabilidad</option>
                              <option>Administración</option>
                              <option>Recursos Humanos</option>
                              <option>Atención al Cliente</option>
                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Cargo</label>
                          <div class="col-lg-9 col-xl-6">
                            <select class="form-control" id="cargo_induc">
                              <option>Analista Desarrollador</option>
                              <option>Jefe de Desarrollo</option>
                              <option>Analista Contable</option>
                              <option>Asistente Administrativo</option>
                              <option>Jefe Operativo</option>
                            </select>
                            
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-xl-3 col-lg-3 col-form-label">Fecha Ingreso</label>
                          <div class="col-lg-9 col-xl-6">
                            <div class="input-group date">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="la la-calendar-check-o"></i>
                                </span>
                              </div>
                              <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_ingreso_induc" value=""/>
                            </div>
                          </div>
                        </div>
                        

                        
                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                      <div class="row">
                        
                        <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Asistente RRHH</label>
                        <div class="col-lg-9 col-xl-9">
                          <button  type="reset" id="btn-guardar-induccion" class="btn btn-success">Guardar</button>&nbsp;
                          
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!--End:: App Content-->
          </div>

          <!--End::App-->
        </div>
      </div>
    </div>
  </div>
</div>