.btn-out {
  background-color: rgba(34, 185, 255, 0.1);
  color: #22b9ff;
}

.btn-out:hover {
  background-color: #22b9ff !important;
  color: #ffffff;
}

.kt-notification__item:hover .kt-notification__item-title {
  color: #22b9ff !important;
}