<div class="kt-subheader   kt-grid__item" id="kt_subheader">
  <div class="kt-container  kt-container--fluid ">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
      </h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a  class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Dashboard </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Actividades </a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a href="" class="kt-subheader__breadcrumbs-link">
          Cumpleañeros </a>
        
        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
      </div>
    </div>
    <div class="kt-subheader__toolbar" id="botones-barra">
      <kt-custom-subheader></kt-custom-subheader>
    </div>
  </div>
</div>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
  <div class="row">
    <div class="col-xl-12">
      <!--begin::Portlet-->
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
              <i class="kt-font-brand fa fa-table"></i>
            </span>
            <h2 class="kt-portlet__head-title kt-font-brand">
              Cumpleañeros
            </h2>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-xl-12 col-md-12">
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Cumpleañeros de Hoy<small></small></h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">

                    <div class="kt-portlet__head-wrapper">
                      <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-label-info btn- " md data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="flaticon2-calendar-5"></i>Fecha
                        </button>

                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 15rem;">
                          <ul class="kt-nav">
                            <li class="kt-nav__section kt-nav__section--first">
                              <span class="kt-nav__section-text">Opciones</span>
                            </li>
                            <li class="kt-nav__item">
                              <a href="javascript:;" class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-calendar-o"></i>
                                <span class="kt-nav__link-text">Hoy</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a href="javascript:;" class="kt-nav__link">
                                <span class="kt-nav__link-text">Octubre 2020</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a href="javascript:;" class="kt-nav__link">
                                <span class="kt-nav__link-text">Septiembre 2020</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a href="javascript:;" class="kt-nav__link">
                                <span class="kt-nav__link-text">Agosto 2020</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a href="javascript:;" class="kt-nav__link">
                                <span class="kt-nav__link-text">Julio 2020</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>&nbsp;&nbsp;
                      <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-label-info btn- " md data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="flaticon2-paper"></i>Reportes
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__section kt-nav__section--first">
                              <span class="kt-nav__section-text">Opciones</span>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-print"></i>
                                <span class="kt-nav__link-text">Print</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-copy"></i>
                                <span class="kt-nav__link-text">Copy</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                <span class="kt-nav__link-text">Excel</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                <span class="kt-nav__link-text">CSV</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                <span class="kt-nav__link-text">PDF</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
                <form class="kt-form kt-form--label-right">
                  <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">
                        <div class="form-group row">
                          <label class="col-form-label">Período:&nbsp;</label>
                          <div class="filtro-tabla">
                            <select class="form-control">
                              <option>Seleccione un período...</option>
                              <option value="ci">Hoy</option>
                              <option value="ci">Octubre 2020</option>
                              <option value="lm">Septiembre 2020</option>
                              <option value="lm">Agosto 2020</option>
                              <option value="lm">Julio 2020</option>
                            </select>
                          </div>

                          <button type="button" id="" class="btn btn-info btn-filter">Filtrar</button>
                        </div>
                        <div id="tabla-cumpleaneros-hoy"></div>




                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__foot">
                    <div class="kt-form__actions">

                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!--End:: App Content-->
          </div>
          <div class="row">
            <div class="col-xl-12 col-md-12">
              <div class="kt-portlet">
                <div class="kt-portlet__head">
                  <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Cumpleañeros <small></small></h3>
                  </div>
                  <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                      <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-label-info btn- " md data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="flaticon2-paper"></i>Reportes
                        </button>

                        <div class="dropdown-menu dropdown-menu-right">
                          <ul class="kt-nav">
                            <li class="kt-nav__section kt-nav__section--first">
                              <span class="kt-nav__section-text">Opciones</span>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-print"></i>
                                <span class="kt-nav__link-text">Print</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-copy"></i>
                                <span class="kt-nav__link-text">Copy</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                <span class="kt-nav__link-text">Excel</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                <span class="kt-nav__link-text">CSV</span>
                              </a>
                            </li>
                            <li class="kt-nav__item">
                              <a  class="kt-nav__link">
                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                <span class="kt-nav__link-text">PDF</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form class="kt-form kt-form--label-right">

                  <div class="kt-portlet__body">

                    <div class="kt-section kt-section--first">
                      <div class="kt-section__body">

                        <div id="tabla-cumpleaneros"></div>

                      </div>
                    </div>
                  </div>
                  <div class="kt-portlet__foot">
                    <div class="kt-form__actions">

                    </div>
                  </div>
                </form>
              </div>
            </div>

            <!--End:: App Content-->
          </div>

          <!--End::App-->
        </div>
      </div>
    </div>
  </div>
</div>