<div class="kt-grid kt-grid--ver kt-grid--root kt-page" style="height: 100%;">
  <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(assets/media/bg/bg-3.jpg);">
      <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
        <div class="kt-login__container">
          <div class="kt-login__logo">
            <a routerLink="/">
              <img src="assets/media/logos/saffiro.png">
            </a>
          </div>
          <div class="kt-login__signin text-center">
            <div class="kt-login__head">
              <h3 class="kt-login__title">Demo</h3>
            </div>
            <form class="kt-form" action="">
              <div class="input-group">
                
              </div>
              <div class="input-group">
                
              </div>
              <div class="row kt-login__extra">
                <div class="col">
                  
                </div>
                <div class="col kt-align-right">
                  
                </div>
              </div>
              <div class="kt-login__actions">
                <a routerLink="/admin/auth" class="btn btn-success btn-elevate btn-lg">Administradores</a>
              </div>
              <div class="kt-login__actions">
                <a routerLink="/user/auth" class="btn btn-brand btn-elevate btn-lg btn-user">Funcionarios</a>
              </div>
            </form>
          </div>
          
          <div class="kt-login__account">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>